<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:body>

        <div id="wrapper">
            <div id="header">
                <h2>Earth spaceport</h2>
            </div>
        </div>

        <div id="container">
            <h3>Add a new code</h3>

            <h:messages globalOnly="true" />

            <h:form id="form" style="margin-top: 10px;" >
                <h:panelGrid columns="3">

                    <h:outputLabel>Type:</h:outputLabel> <h:inputText value="#{code.type}" id="code_type"
                                                                        required="true"/> <h:message for="code_type" />

                    <h:outputLabel>Value:</h:outputLabel> <h:inputText value="#{code.value}" id="code_value"
                                                                       required="true"
                                                                       requiredMessage="There is no ship without a captain."/> 	<h:message for="code_value" />

                    <h:outputLabel /> <h:commandButton value="Save" styleClass="save" action="#{sessionController.addCode(code)}"/>

                </h:panelGrid>
            </h:form>


            <p><h:outputLink value="codestore.xhtml">Back to the codestore</h:outputLink></p>

        </div>

    </h:body>


</html>