<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:p="http://primefaces.org/ui"
      xmlns:security="http://www.springframework.org/security/tags">
<h:head/>

<h:body>
    <p:toolbar id="tb">
        <f:facet name="left">
            <p:button value="Back" outcome="/app/spaceships.xhtml?faces-redirect=true"/>
        </f:facet>
        <f:facet name="right">
            <security:authorize access="isAnonymous()">
                <p:button value="Log in" outcome="/index.xhtml?faces-redirect=true"/>
            </security:authorize>
            <security:authorize access="isAuthenticated()">
                <form action="${request.contextPath}/appLogout" method="post">
                    <input type="submit" value="Logout"/>
                    <!--<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>-->
                </form>
            </security:authorize>
        </f:facet>
    </p:toolbar>

    <p:sticky target="tb"/>

    <div id="wrapper">
        <div id="header">
            <h2>Earth spaceport</h2>
        </div>
    </div>

    <div id="container">
        <h3>Add a new spaceship</h3>

        <h:messages globalOnly="true"/>

        <h:form id="form" style="margin-top: 10px;">
            <h:panelGrid columns="3">

                <h:outputLabel>Name:</h:outputLabel> <h:inputText value="#{spaceship.name}" id="ship_name"/> <h:message
                    for="ship_name"/>

                <h:outputLabel>Captain:</h:outputLabel> <h:inputText value="#{spaceship.captain}" id="captain"
                                                                     required="true"
                                                                     requiredMessage="There is no ship without a captain."/>
                <h:message for="captain"/>

                <h:outputLabel>Size of crew:</h:outputLabel> <h:inputText value="#{spaceship.sizeOfCrew}"
                                                                          id="crew_size"/> <h:message for="crew_size"/>

                <h:outputLabel/> <p:commandButton value="Save" styleClass="save"
                                                  action="#{sessionController.addSpaceship(spaceship)}"/>

            </h:panelGrid>
        </h:form>
    </div>

</h:body>


</html>