<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<f:metadata>
    <f:event type="preRenderView" listener="#{sessionController.loadCodestore()}"/>
</f:metadata>

<h:head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <title>Spaceship dock codestore</title>
</h:head>

<h:body>
    <div id="wrapper">
        <div id="header">
            <h2 align="center">Earth spaceport</h2>
            <h3 align="center">Spaceship codestore</h3>
        </div>
    </div>

    <div id="container">

        <div id="content">

            <h:messages globalOnly="true"/>


            <h:form>
                <p align="center">
                    <h:button value="Add new code" outcome="add-code-form" style=""/>
                </p>

                <h:dataTable value="#{sessionController.codestore}" var="tempCode" style="margin: 0 auto;"
                             cellpadding="15">

                    <h:column>
                        <!-- the column header -->
                        <f:facet name="header">Id</f:facet>

                        <!--  the value for each row -->
                        #{tempCode.id}
                    </h:column>

                    <h:column>
                        <!-- the column header -->
                        <f:facet name="header">Type</f:facet>

                        <!--  the value for each row -->
                        #{tempCode.type}
                    </h:column>

                    <h:column>
                        <!-- the column header -->
                        <f:facet name="header">Value</f:facet>

                        <!--  the value for each row -->
                        #{tempCode.value}
                    </h:column>

                    <h:column>
                        <f:facet name="header">Action</f:facet>

                        <h:commandLink value="Update"
                                       action="#{sessionController.loadCode(tempCode)}"/>
                        |

                        <h:commandLink value="Delete"
                                       onclick="if (!confirm('Are you sure you want to delete this ship?')) return false"
                                       action="#{sessionController.deleteCode(tempCode)}"/>

                    </h:column>

                </h:dataTable>

            </h:form>

        </div>

    </div>

    <div id="wrapper2">
        <div id="footer">
            <p align="center"><h:outputLink value="hub.xhtml">Hub</h:outputLink></p>
        </div>
    </div>

</h:body>
</html>
