<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui" xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:security="http://www.springframework.org/security/tags" xml:lang="en" lang="en">
<h:head>
    <title>Welcome to the Spaceport hub!</title>
</h:head>
<h:body>

    <p:toolbar id="tb">
        <f:facet name="left">
        </f:facet>
        <f:facet name="right">
            <security:authorize access="isAnonymous()">
                <p:button value="Log in" outcome="/index.xhtml?faces-redirect=true"/>
            </security:authorize>
            <security:authorize access="isAuthenticated()">
                <form action="${request.contextPath}/appLogout" method="post" >
                    <input type="submit" value="Logout"  />
                    <!--<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>-->
                </form>
            </security:authorize>
        </f:facet>
    </p:toolbar>

    <p:sticky target="tb" />

    <p>You can navigate with the links below. Please go to your workstation.</p>

<p><h:outputLink value="spaceships.xhtml">Spaceships</h:outputLink></p>
<p><h:outputLink value="users.xhtml">Users</h:outputLink></p>
<p><h:outputLink value="codestore.xhtml">Codestore</h:outputLink></p>

</h:body>
</html>