<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:security="http://www.springframework.org/security/tags" xmlns:p="http://primefaces.org/ui">


<f:metadata>
    <f:event type="preRenderView" listener="#{sessionController.loadSpaceships()}"/>
</f:metadata>

<h:head>
    <!--<security:authentication property="principal" var="myAccount"/>-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <title>Spaceship dock</title>
</h:head>

<h:body>

    <ui:include src="/WEB-INF/toolbar.xhtml" />

    <div id="wrapper">
        <div id="header">
            <h2>Spaceship Dock</h2>
        </div>
    </div>

    <div id="container">

        <div id="content">

            <h:messages globalOnly="true"/>

            <security:authorize access="isAuthenticated()">
                <p:button value="Add spaceship" outcome="add-spaceship-form"/>
            </security:authorize>

            <h:form>

                <p:dataTable value="#{sessionController.spaceships}" var="tempShip">

                    <p:column>
                        <!-- the column header -->
                        <f:facet name="header">Id</f:facet>

                        <!--  the value for each row -->
                        #{tempShip.id}
                    </p:column>

                    <p:column>
                        <!-- the column header -->
                        <f:facet name="header">Name</f:facet>

                        <!--  the value for each row -->
                        #{tempShip.name}
                    </p:column>

                    <p:column>
                        <!-- the column header -->
                        <f:facet name="header">Captain</f:facet>

                        <!--  the value for each row -->
                        #{tempShip.captain}
                    </p:column>

                    <p:column>
                        <!-- the column header -->
                        <f:facet name="header">Crew</f:facet>

                        <!--  the value for each row -->
                        #{tempShip.sizeOfCrew}
                    </p:column>
                    <security:authorize access="isAuthenticated()">
                        <p:column>
                            <f:facet name="header">Action</f:facet>
                            <h:commandLink value="Update"
                                           action="#{sessionController.loadSpaceship(tempShip)}"/>
                            |

                            <h:commandLink value="Delete"
                                           onclick="if (!confirm('Are you sure you want to delete this ship?')) return false"
                                           action="#{sessionController.deleteSpaceship(tempShip)}"/>
                        </p:column>
                    </security:authorize>


                </p:dataTable>

            </h:form>

        </div>
    </div>
</h:body>
</html>
