<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:p="http://primefaces.org/ui"
      xmlns:security="http://www.springframework.org/security/tags">
<h:head />

    <h:body>
        <p:toolbar id="tb">
            <f:facet name="left">
                <p:button value="Back" outcome="/app/users.xhtml?faces-redirect=true"/>
            </f:facet>
            <f:facet name="right">
                <security:authorize access="isAnonymous()">
                    <p:button value="Log in" outcome="/index.xhtml?faces-redirect=true"/>
                </security:authorize>
                <security:authorize access="isAuthenticated()">
                    <form action="${request.contextPath}/appLogout" method="post">
                        <input type="submit" value="Logout"/>
                        <!--<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>-->
                    </form>
                </security:authorize>
            </f:facet>
        </p:toolbar>

        <p:sticky target="tb"/>
        <div id="wrapper">
            <div id="header">
                <h2>Earth spaceport</h2>
            </div>
        </div>

        <div id="container">
            <h3>Update worker</h3>

            <h:messages globalOnly="true" />

            <h:form id="form" style="margin-top: 10px;" >
                <h:panelGrid columns="3">

                    <h:outputLabel>User name:</h:outputLabel> <h:inputText value="#{user.userName}" id="userName"
                                                                            required="true"/> <h:message for="userName" />

                    <h:outputLabel>First name:</h:outputLabel> <h:inputText value="#{user.firstName}" id="firstName"
                                                                       required="true"
                                                                       requiredMessage="You have  to provide your name."/> 	<h:message for="firstName" />

                    <h:outputLabel>Last name:</h:outputLabel> <h:inputText value="#{user.lastName}" id="lastName"
                                                                            required="true"
                                                                            requiredMessage="You have  to provide your name."/> 	<h:message for="lastName" />

                    <h:outputLabel>Email:</h:outputLabel> <h:inputText value="#{user.email}" id="email"
                                                                           required="true"
                                                                           requiredMessage="You have  to provide your email address."/> 	<h:message for="email" />

                    <h:outputLabel>Password:</h:outputLabel> <h:inputSecret value="#{user.pwd}" id="password"
                                                                       required="true"
                                                                       requiredMessage="You have to provide a password."/> 	<h:message for="password" />

                    <h:outputLabel /> <p:commandButton value="Save" styleClass="save" action="#{sessionController.updateUser(user)}"/>

                </h:panelGrid>
            </h:form>
        </div>
    </h:body>
</html>
