<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:p="http://primefaces.org/ui">

<f:metadata>
    <f:event type="preRenderView" listener="#{sessionController.loadUsers()}"/>
</f:metadata>

<h:head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <title>Spaceship dock workers</title>
</h:head>

<h:body>
    <ui:include src="/WEB-INF/toolbar.xhtml" />
    <div id="wrapper">
        <div id="header">
            <h2>Spaceship Dock workers</h2>
        </div>
    </div>

    <div id="container">

        <div id="content">

            <h:messages globalOnly="true"/>

            <p:button value="Add worker" outcome="add-user-form"/>

            <h:form>

                <p:dataTable value="#{sessionController.users}" var="tempUser">

                    <p:column>
                        <!-- the column header -->
                        <f:facet name="header">Id</f:facet>

                        <!--  the value for each row -->
                        #{tempUser.id}
                    </p:column>

                    <p:column>
                        <!-- the column header -->
                        <f:facet name="header">Username</f:facet>

                        <!--  the value for each row -->
                        #{tempUser.userName}
                    </p:column>

                    <p:column>
                        <!-- the column header -->
                        <f:facet name="header">First name</f:facet>

                        <!--  the value for each row -->
                        #{tempUser.firstName}
                    </p:column>

                    <p:column>
                        <!-- the column header -->
                        <f:facet name="header">Last name</f:facet>

                        <!--  the value for each row -->
                        #{tempUser.lastName}
                    </p:column>
                    <p:column>
                        <f:facet name="header">Action</f:facet>

                        <h:commandLink value="Update"
                                       action="#{sessionController.loadUser(tempUser)}"/>
                        |

                        <h:commandLink value="Delete"
                                       onclick="if (!confirm('Are you sure you want to delete this worker?')) return false"
                                       action="#{sessionController.deleteUser(tempUser)}"/>

                    </p:column>

                </p:dataTable>

            </h:form>

        </div>

    </div>
</h:body>
</html>
