<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:c="http://java.sun.com/jsp/jstl/core">


<h:head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <title>Earth spaceport</title>
</h:head>

<h:body>

     <div id="wrapper">
            <div id="header">
                <h2 align="center">Earth spaceport</h2>
            </div>
        </div>

    <p align="center">Welcome to Earth's first and only spaceport. You can log in below, if you have a valid worker's permit, or you can
    apply for one, if you'd like to work on majestic spaceships.</p>
    <form action="${request.contextPath}/appLogin" method="POST" style="margin: 0 auto; width:250px;">
        <c:if test="${param.failed == true}">
            <font color="red">
                <h:outputLabel style="justify-content: center;" value="Incorrect username or password."/><br/><br/>
            </font>
        </c:if>
        <h:outputLabel value="Enter username:" />
        <input type="text" name="app_username"/><br/><br/>
        <h:outputLabel value="Enter password:" />
        <input type="password" name="app_password"/> <br/><br/>
        <input type="submit" value="Login" />
        <!--<p:commandButton ajax="false" type="submit" value="Login" />-->
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    </form>

    <p align="center"><h:outputLink value="register.xhtml">Apply for a new worker's permit</h:outputLink></p>

</h:body>
</html>
