<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Registration</title>
</h:head>
<h:body>

    <div id="wrapper">
        <div id="header">
            <h2 align="center">Applying for a spaceport worker's permit</h2>
        </div>
    </div>

    <div id="container">
        <p align="center">Please provide your data for the registration. If there are problems with the
            data you have provided, we will contact you.</p>

        <p:messages globalOnly="true" />

        <h:form id="form" style="margin-top: 10px;" >
            <p:growl id="growl" sticky="false" showDetail="true" life="3000" />
            <h:panelGrid columns="3" cellpadding="5" style="margin: 0 auto;">

                <p:outputLabel>User name:</p:outputLabel> <p:inputText value="#{user.userName}" id="userName"
                                                                       required="true"/> <p:message for="userName" />

                <p:outputLabel>First name:</p:outputLabel> <p:inputText value="#{user.firstName}" id="firstName"
                                                                        required="true"
                                                                        requiredMessage="You have  to provide your name."/> 	<p:message for="firstName" />

                <p:outputLabel>Last name:</p:outputLabel> <p:inputText value="#{user.lastName}" id="lastName"
                                                                       required="true"
                                                                       requiredMessage="You have  to provide your name."/> 	<p:message for="lastName" />

                <p:outputLabel>Email:</p:outputLabel> <p:inputText value="#{user.email}" id="email"
                                                                   required="true"
                                                                   requiredMessage="You have  to provide your email address."/> 	<p:message for="email" />

                <p:outputLabel>Password:</p:outputLabel> <p:password value="#{user.pwd}" id="password"
                                                                     required="true"
                                                                     requiredMessage="You have to provide a password."/> 	<p:message for="password" />

                <p:outputLabel /> <p:commandButton value="Register" styleClass="save" action="#{sessionController.registerNewUser(user)}" update="growl" style="float: right"/>

            </h:panelGrid>
        </h:form>


        <p><h:outputLink value="index.xhtml">Back to Login</h:outputLink></p>

    </div>
</h:body>
</html>
