<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:security="http://www.springframework.org/security/tags">
    <p:toolbar id="tb">
        <f:facet name="left">
            <p:button value="Hub"  outcome="hub.xhtml?faces-redirect=true" />
        </f:facet>
        <f:facet name="right">
            <security:authorize access="isAnonymous()">
                <p:button value="Log in" outcome="/index.xhtml?faces-redirect=true"/>
            </security:authorize>
            <security:authorize access="isAuthenticated()">
                <form action="${request.contextPath}/appLogout" method="post" >
                    <input type="submit" value="Logout"  />
                    <!--<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>-->
                </form>
            </security:authorize>
        </f:facet>
    </p:toolbar>

    <p:sticky target="tb" />
</ui:composition>


